body{
	margin: 0px;
	padding: 10px;
	background: #F3F5FC;
	font-family: 'Montserrat', sans-serif;
	width: 1260px;
	height: 650px;
	margin:auto;
}
header{
	width: 100%;
	height: auto;
}
.img-logo{
	float: left;
	height: 100%;
}
.title{
	text-align: center;
	font-size: 40px;
}
.left{
	width: 70%;
	float: left;
	height: 555px;
	border-radius: 24px;
}
.text-input{
	float: left;
	margin-left: 10%;
	width: 80%;
	height: 80%;
	color: #0A3871;
	font-size: 30px;
	border: none;
	outline: none;
	background: #F3F5FC;
}
.right{
	width: 30%;
	float: right;
	height: 680px;
	border-radius: 24px;
	background: white;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.img-munheco{
	margin-top: 20%;
	width: 90%;
	height: auto;
	margin-left: 5%;
}
.texto1-munheco{
	text-align: center;
}
.informacion{
	text-align: center;
}
.texto2-munheco{
	float: left;
	margin-left: 10%;
	color: #0A3871;
	width: 80%;
	height: auto;
	border: none;
	outline: none;
	font-size: 15px;
	resize: none;
}
.copiar{
	margin-left: 33%;
	margin-top: 90%;
	padding: 24px;
	width: 40%;
	height: 10%;
	background: #D8DFE8;
	border-radius: 24px;
	display: none;
	margin-top: 610px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.copiar:hover{
	background: #B0C4DE;
	cursor: pointer;
	transition: 1s all;
	transform: scale(1.1);
}
.buttons{
	float: left;
	width: 70%;
	height: auto;
	border-radius: 24px;
}
.aviso{
	margin-left: 10%;
	font-weight: bold;
}
.btn-encriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 10%;
	background: #0A3871;
	color: white;
	margin-bottom: 72px;
	font-family: 'Montserrat', sans-serif;
	transition: 1s all;
	font-weight: bold;
}
.btn-encriptar:hover{
	background:#000080;
	cursor: pointer;
	transform: scale(1.1);
}
.btn-desencriptar{
	padding: 24px;
	width: 30%;
	height: 60%;
	border-radius: 24px;
	margin-left: 10%;
	background: #D8DFE8;
	font-family: 'Montserrat', sans-serif;
	transition: 1s all;
	font-weight: bold;
}
.btn-desencriptar:hover{
	background: #B0C4DE;
	cursor: pointer;
	transform: scale(1.1);
}
.pieDePagina{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 700px;
	padding: 100px;
}